<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Borakay</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" class="email">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tbody>
                <tr>
                    <td style="color:#555555;font-size:22px;padding:30px 50px 0px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        Bonjour <span style="font-weight:bold;">{{name}}</span>,
                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">Veuillez créer votre mot de passe en cliquant sur le lien ci-dessous.
                    </td>
                </tr>
				<tr>
					<td style="color:#5e5e5e;font-size:10px;padding:30px 50px 0px;font: small/ 1.5 Arial,Helvetica,sans-serif;>
						 <span style="font-weight:bold;"><a href="{{Createpassword}}" target="_blank">cliquer ici</a></span>
					</td>
				</tr>
				<tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">

                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        Excellente journée,
                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        ------------------------------------------------------------------------
                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        <img width="240" height="80" style="width:2.2916in;height:-0.5305in"
                             id="m_8686825286675375114Image_x0020_1"
                             src="https://firebasestorage.googleapis.com/v0/b/tennispro-real-time-database.appspot.com/o/EmailAttachment%2FTennisapp.jpg?alt=media&token=0d2859dd-4716-4e6e-b2fb-2756b02647f0"
                             data-image-whitelisted="" class="CToWUd">
                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        9 rue de Seine<br>
						92100 Boulogne Billancourt - FRANCE<br>
                        Tél : + 33 6 63 13 70 27 <br><a href="mailto:alban.vicarini@borakay.fr"
                                                target="_blank">alban.vicarini@borakay.fr</a><br>
                        -------------------------------------------------------------------------
                    </td>
                </tr>
                <tr>
                    <td style="color:#5e5e5e;font-weight:400;font-size:15px;padding:15px 50px;word-wrap:break-word;line-height:25px;word-spacing:2px;font: small/ 1.5 Arial,Helvetica,sans-serif;">
                        Vos données à caractère personnel font l'objet d'un traitement par la
                        société TENNIS PRO BOULOGNE et BORAKAY SOFTWARE SARL <a
                            href="http://www.tennispro.fr/" target="_blank">selon les modalités de
                        notre politique de données personnelles</a>. Elles sont traitées sur la base
                        de votre consentement afin de vous adresser des emails d’information sur
                        l’état de votre raquette de tennis. Seuls ont accès aux données à caractère
                        personnel, dans la limite de leurs attributions respectives les services de
                        TENNIS PRO BOULOGNE et le prestataire BORAKAY SOFTWARE SARL habilité à
                        traiter vos données.
                        Conformément à la loi Informatique et libertés du 06/01/78 modifiée et au
                        RGPD (UE) 2016/679 du 27 avril 2016, vous disposez d'un droit d'accès et
                        d'un droit de rectification des données vous concernant et, s'ils sont
                        applicables, d'un droit de suppression, d'un droit d'opposition au
                        traitement de vos données, d'un droit à l'effacement et à la limitation du
                        traitement ainsi que d'un droit à la portabilité de vos données. Vous
                        disposez également du droit de définir des directives relatives au sort de
                        vos données après votre décès. A tout moment vous pouvez gérer vos
                        abonnements en envoyant un email à <a href="mailto:tennispro@borakay.fr"
                                                              target="_blank">tennispro@borakay.fr</a>.
                        Vous disposez enfin du droit d'introduire une réclamation auprès de la CNIL.
                        Vos données sont conservées pendant une durée de trois ans à compter de leur
                        collecte ou du dernier contact ou de la fin de la relation commerciale. Les
                        données permettant d'établir la preuve d'un droit ou d'un contrat, ou
                        conservées au titre du respect d'une obligation légale sont archivées
                        conformément aux dispositions en vigueur. Les données personnelles de plus
                        de 3 ans sont anonymisées.
                    </td>	
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>